.fileList {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  gap: 8px;
}

.dropZone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 108px;
  border: 1px dashed #999;
  padding: 4px 6px;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
}

.addFile {
  margin-top: -8px;
  font-size: 48px;
  color: #999;
  user-select: none;
}

.main {
  display: flex;
  margin: 16px;

  & > :not(:last-child) {
    margin-right: 16px;
  }
}

.file {
  position: relative;
  padding: 4px 6px;
  width: 80px;
  flex-shrink: 0;
  cursor: pointer;
  border: 1px solid #ccc;

  &:hover {
    background: #eee;
  }

  &[data-active] {
    background: #ddd;
  }
}

.done {
  position: absolute;
  top: 5px;
  right: 5px;
  color: green;
}

.imgPreview {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.fileName {
  margin: 4px 0;
  font-size: 0.875rem /* 14/16 */;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
